@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Open+Sans:ital,wght@0,400;0,600;0,700;1,600&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: inter, sans-serif;
}

iframe {
  border: none;
}

.dark-blue {
  background: rgba(26, 46, 112, 0.7);
}

body {
  background: #f3fcff;
}
